<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/head')  %>
  </head>
  <body>
    <main class="main-formulario">

        <img src="/images/logo.png" id="form-logo">
        <h1>Kintsugi</h1>
        <img src="/images/jap-kintsugi.png" id="form-jap-kintsugi">

        <div class="nav-menu">
            <ul>
              <li><a href="/product_manager/add" class="scale">Upload product</a></li>
            </ul>
            <ul>
              <li><a class="scale" href="/product_manager/" >Edit product</a></li>
            </ul>
          </div>
        
        <div class="container-form" >
          <% if(typeof errors != 'undefined'){ %>
            <p class="error"> Oops! Check below for errors: </p>
            <% for (let i = 0; i < errors.length; i++) { %>
              <span class="error"><%= errors[i].msg %></span>
              <% } %>
            
        <% } %>
            <div class="formulario">
                
                <form action="/product_manager/edit/<%= product.id %>" method="POST" enctype='multipart/form-data'>
                    <br><br>
                    <img src="/images/my-uploads/<%= product.image %>" id="form-foto2"><br>
                    <input type="file" id="add-img" name="img" value="<%= product.image %>"><br><br><br><br>
                    <h3>Product name</h3>
                    <input type="text" id="name" name="name" value="<%= product.name %>"><br>
                    <h3>Description</h3>
                    <p>Max. 200 characters</p>
                    <input type="text" id="desc" name="desc" value="<%= product.description %>"><br>
                    <h3>Price</h3>
                    <p>Only numbers</p>
                    <input type="text" id="add-price" name="price" value="<%= product.price %>"><br>
                    <h3>Category</h3>
                    <div class="select">
                      <select name="cat" id="format">
                        <option value="1">Rolls</option>
                        <option value="2">Mixed</option>
                        <option value="3">Snacks</option>
                        <option value="4">Salads</option>
                        <option value="5">Tempura</option>
                        <option value="6">Dessert</option>
                        <option value="7">Drinks</option>
                      </select>
                      </div>
                      <br>

                    <button type="submit" class="btn">Save changes</button><br>
                    <a href="/product_manager/destroy/<%= product.id %>" class="scale">Delete product</a>
                
                </form>
                
            </div>
          

        </div>

    </main>
</body>
</html>