<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/head')  %>
  </head>
  <body class="cart">
    
    <%- include('./partials/header')  %>
      
      <div class="titulocart">
        <h2>My cart</h2>
        <img src="/images/jap-my-cart.png">
      </div>

    <main class="containercart">
      <div class="productscart">
        <% for(let i = 0 ; i < cart.products.length ; i++){ %>
          <div class="productcart">
            <img src="/images/my-uploads/<%= cart.products[i].image %>">
            <h3><%= cart.products[i].name %></h3>
            <p class="description"><%= cart.products[i].description %></p>
              <div class="columna">
                <p class="precio">$<%= cart.products[i].price %><p>
                  <form action="/products/addAnother/<%= cart.products[i].id %>" method="POST">
                    <button type="submit" class="buttonPlus"><a class="modify">Add another</a></button>
                  </form>
                <p class="delete">Delete</p>
              </div>
          </div>   
        <% } %>    
      </div>
            <div class="bill">
              <h3>Your bill</h3><br>
                <div class="productofinal">
                  <p class="cantbill">X1</p>
                  <p>Product name</p>
                  <p>$500</p>
                </div>
                <div class="productofinal">
                  <p class="cantbill">X1</p>
                  <p>Product name</p>
                  <p>$500</p>
                </div>
                <div class="productofinal">
                  <p class="cantbill">X1</p>
                  <p>Product name</p>
                  <p>$500</p>
                </div>
                <div class="total">
                  <p>Final price:</p>
                  <p>$1500</p>
                </div>
              <button type="submit">Checkout</button>
            </div>
      </main>

  <%- include('./partials/footer')  %>
    
  </body>
</html>