<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head')  %>
</head>
<body>
    <%- include('./partials/header')  %>
    <div id="details">
      <div id="product-main">
          <h1><%= product.name %></h1>
          <img src="/images/jap-product-title.png" alt="" id="product_title_jap">
          <!-- <span><%= product.category_id %></span> -->
          <span id="price">$<%= product.price %></span>
      </div>
      <div id="product-description">
        <%= product.description %>
      </div>
    
    <div id="cart-options">
        <form action="/products/addToCart/<%= product.id %>" method="POST">
          <button type="submit">Add to cart</button>
          <!-- <a href="/products/addToCart/<%= product.id %>" class="button" id="add">Add to cart</a> -->
        </form>
        
        <!-- <div>
            <i class="fas fa-minus button"></i>
            <span class="button" id="mult">x1</span>
            <i class="fas fa-plus button"></i>
        </div> -->
        <a href="/products/menu" id="back">Back to menu</a>
    </div>
  </div>
    
    <img src="/images/my-uploads/<%= product.image %>" alt="" id="product_image">

    <%- include('./partials/footer')  %>
</body>
</html>