<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head')  %>
</head>
<body>
 
  <%- include('./partials/header')  %>

  <main class="containerlogin">
    <div class="datos">

        <div class="titulacion">
            <h2>My profile</h2>
        </div>

        <div class="formulario">
            <form action="/users/profile/<%= user.id %>" method="POST">
                <h3>Name:</h3>       
                <input type="text" id="name" name="name" value="<%= user.name %>" class="input-control"><br>
                <h3>Phone:</h3>  
                <input type="tel" id="phone" name="phone" value="<%= user.phone %>" class="input-control"><br>
                <h3>E-mail:</h3>  
                <input type="email" id="email" name="email" value="<%= user.email %>" class="input-control"><br>
                <button id="button-profile" type="submit" class="btn">Edit</button>
            </form>
            <a href="/users/logout" id="logout">Log out</a>
        </div>
        
      </div>    

    </main>
  <%- include('./partials/footer')  %>


</body>
</html>