<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head')  %>
</head>
<body>
 
  <%- include('./partials/header')  %>

  <div class="containerlogin">
    <main class="datos">

        <div class="titulacion">
            <h2>Profile</h2>
        </div>

        <div class="formulario">
            <h3>My profile</h3>
            <form action="/users/profile/<%= user.id %>" method="POST">       
                <input type="text" id="name" name="name" value="<%= user.name %>"><br>
                <input type="tel" id="phone" name="phone" value="<%= user.phone %>"><br>
                <input type="email" id="email" name="email" value="<%= user.email %>"><br>
                <button id="button-login-register" type="submit">Edit</button>
            </form>
        </div>

        <div class="finform">
               <p> </p><br>
        </div>

        <a href="/users/login" id="already"> </a>
        
    </main>
  </div>

  <%- include('./partials/footer')  %>

</body>
</html>